<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js">
</script>
<article>
  <% url_path = File.basename(article.path, ARTICLE_FORMAT) %>
  <h2><%= link_to article.title, url_path %></h2>
  <small>
    <%= image_tag 'layouts/avatar.png', alt: 'avatar' %>
    <%= article.time.strftime(TIME_FORMAT) %>
    &middot;
    <%= link_to 'Comment', "#{url_path}#disqus_thread" %>
  </small>
  <hr />
  <%= raw render("#{article.path}") %>
</article>
